body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
#UI{
    height: 10%;
    width: 100%;
    display: flex;
}
#arena{
    display: flex;
    height: 50%;
    background-image: url('./fondo.png');
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
}
#pokePropio{
    position: relative;
    top: 120px;
    left: 0px;
    height: 30%;
}
#pokeRival{
    position: relative;
    top: 80px;
    left: 350px;
    height: 30%;
}
#poke-rival{
    width: 100%;
    height: auto;
}
#poke-propio{
    width: 100%;
    height: auto;
}